img {
  max-width: 100%;
  height: auto;
}

.App {
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  margin: 0rem auto;
}
body {
  max-width: 90%;
  overflow-x: hidden;
  background-color: rgb(83, 2, 213);
}

.home-banner-container {
  position: relative;
  display: flex;
  /* padding-top: 3rem; */
}
.home-bannerImage-container {
  position: absolute;
  top: -100px;
  right: -200px;
  z-index: -2;
  max-width: 700px;
}
.home-image-section {
  max-width: 900px;
  flex: 1;
}
.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 1000px) {
  .home-bannerImage-container {
    max-width: 600px;
  }
}

@media (max-width: 800px) {
  .home-bannerImage-container {
    max-width: 450px;
  }

  .home-banner-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .home-image-section {
    width: 100%;
    max-width: 400px;
  }
}
@media (max-width: 600px) {
  .home-bannerImage-container {
    display: none;
  }
}

/* new stuff */
.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: white;
  /* line-height: 5rem; */
  max-width: 600px;
}

.BackBlink{
  animation: blink 1s linear infinite;
  color: aqua;
}

.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: white;
  margin: 1.5rem 0rem;
}


.secondary-button {
  padding: 1rem 2.5rem;
  background-color: black;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}
.secondary-button:hover {
  background-color: #e48f0f;
}

/* about */

.about-section-container {
  margin-top: 11rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid black; */
  /* background-color: yellowgreen; */
  left: 120px;
  width: 100%;
}

.Tag{
  animation: blink 1s linear infinite;
  color: aqua;
}

@keyframes blink{
  0%{opacity: 0;}
  50%{opacity: .5;}
  100%{opacity: 1;}
  }

.about-background-image-container {
  position: absolute;
  left: -150px;
  z-index: -2;
}
.about-section-image-container {
  flex: 0.9;
  margin-right: 1rem;
  transform: scale(0.9);
}

.CHEimg{
  transform: scale(1);
  margin-left: 2rem;
}

.MECHimg{
  transform: scale(2);
}


.about-section-text-container {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.primary-subheading {
  font-weight: 700;
  color: #fe9e0d;
  font-size: 1.15rem;
}

/* About */
.about-buttons-container {
  margin-top: 1rem;
  display: flex;

}
.watch-video-button {
  margin-left: 2rem;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: #484848;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.watch-video-button svg {
  font-size: 3rem;
  margin-right: 1rem;
}
